/*! main.css v0.0.1 | Copyright | git.una-frontend-repo/portifolio-page/assets/css */

.container {
  background-color: gray;
  color: gray;
  font-family: Consolas, serif;
  height: 1080px;
}

.negrito {
  font-weight: bold;
  background-color: darkgray;
}

#avatar {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  max-height: 256px;
  max-width: 256px;
  margin-bottom: 10px;
}

.port-body {
  background-color: lightgray;
  width: 600px;
  margin: 0 auto;
}

.lista-competencias {
  margin: 0;
}

.lista-hobbies {
  margin: 0;
}

.titulo {
  background-color: darkgray;
  height: 50px;
  margin-bottom: 10px;
  
}

.topicos {
  margin: 0 5px 15px;
  padding: 0;
  border: 1px solid darkgray;
}

.caixa {
  width: 100px;
  height: 10px;
  float: left;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.caixas {
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom, #FF0037 0%, #1CFF3A 100%, #3842FF 100%);
}