h1{
	color: green;
}

.nome{
	color: blue;
}

#fotoAvatar {
	position: relative;
	left: 40%;
	
	}

.caixa1{
	height: 100px;
	width: 100px;
	background: green;
}
.caixa2{
	height: 100px;
	width: 100px;
	background: blue;
}

.caixa3{
	height: 100px;
	width: 100px;
	background: red;
}

.form{
	position: relative;
	height: 200px;
	width: 300px;
	left: 70%;
	background: green;
}

.message{
	color: red;
}

.hide{
	display: none;
}
